<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="css/names.css"/>
</head>
<body>
    <main>
        <form action="/add-student" header="POST"><input type="text" name="add-student" ><button type="submit">Add</button></form>
    </main>
</body>
</html>