.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

C

.form-control input:focus {
    outline-color: #00695c;
}



.form-control input:focus,
.form-control textarea:focus
 {
    outline-color: #00695c;
}



.form-control textarea{
 width: 20rem;
 height: 8rem;
}